<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<th:block th:include="fragments/header :: header"></th:block>

<body>

<div th:replace="fragments/headMenu :: headMenu"/>

<div class="container">
    <div class="starter-template">
        <p>This is a journaling and mood tracker web app mostly for people with mood disorders like Bi-polar.
        I created this web app for practice mostly at web development using Spring Boot, Spring Security, MongoDB,
        and Thymeleaf.</p>
    </div>

</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>