<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:include="fragments/header :: header"></th:block>

<body>

<div th:replace="fragments/headMenu :: headMenu"/>

<div class="container">
    <div class="starter-template">
        <a th:href="@{/user/journal/entry/new}">New Entry</a>
        <br/>
        <br/>
        <div th:each="entry : ${entries}" class="entry-container">
            <th:block th:include="fragments/entry :: entry"></th:block>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>