<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header :: header"></th:block>

<body>
    <th:block th:include="fragments/headMenu :: headMenu"></th:block>

    <div id="content">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <h1>New Entry</h1>
            <form action="#" th:action="@{/user/journal/entry/new}" th:object="${entry}" method="post">
               <fieldset>
                   <span>Title:</span>
                   <br/>
                   <input type="text" th:field="*{title}"/>
                   <br/>
                   <span>Entry Content:</span>
                   <br/>
                   <textarea rows="25" cols="100" th:field="*{content}"></textarea>

                   <br/>

                   <span>Content</span><input type="checkbox" name="mood_content" value="true"/>
                   <span>Happy</span><input type="checkbox" name="happy" value="true"/>
                   <span>Excited</span><input type="checkbox" name="excited" value="true"/>
                   <span>Powerful</span><input type="checkbox" name="powerful" value="true"/>
                   <span>Giddy</span><input type="checkbox" name="giddy" value="true"/>

                   <br/><br/>

                   <span>Calm</span><input type="checkbox" name="calm" value="true"/>
                   <span>Neutral</span><input type="checkbox" name="neutral" value="true"/>
                   <span>Apathetic</span><input type="checkbox" name="apathetic" value="true"/>
                   <span>Anxious</span><input type="checkbox" name="anxious" value="true"/>

                   <br/><br/>

                   <span>Angry</span><input type="checkbox" name="angry" value="true"/>
                   <span>Murderous</span><input type="checkbox" name="murderous" value="true"/>

                   <br/><br/>
                   <span>Melancholic</span><input type="checkbox" name="melancholic" value="true"/>
                   <span>Sad</span><input type="checkbox" name="sad" value="true"/>
                   <span>Depressed</span><input type="checkbox" name="depressed" value="true"/>

                   <br/><br/>
                   <span>Nervous</span><input type="checkbox" name="nervous" value="true"/>
                   <span>Worried</span><input type="checkbox" name="worried" value="true"/>
                   <span>Disappointed</span><input type="checkbox" name="disappointed" value="true"/>
                   <span>Helpless</span><input type="checkbox" name="helpless" value="true"/>

                    <br/>
                   <input type="submit" value="Submit"/>
               </fieldset>
            </form>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</body>

</html>
